<!DOCTYPE html>
<html lang="en">

<style>


.container {
  max-width: 800px;
  .center-block();
}

.all-wrapper {
}

.create-button {
  margin: 0 auto;
  float: center;
}

.button-wrapper {
  float: center;

}

.category-filter {
  float: center;
  display: inline;

}

</style>


    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Bookmkr</a>
            </div>
              <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="bookmarks">All Bookmarks</a></li>
                <li><a href="category">Category</a></li>
                <li><a href="comments">Comments</a></li>
                <li class="dropdown">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "container">
    <div class = "container-fluid">
      <div class = "all-wrapper">
        <h1>All yr Bookmks, bro</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Url</th>
              <th>Category</th>
              <th>Favorite?</th>
              <th>Comments?</th>
            </tr>
          </thead>

<div class = "category-filter">
      <ul>Filter by Category
         <% @bookmarks.map(&:category).uniq.sort.each do |category| %>
           <li><%= link_to category, filter: category %></li>
         <% end %>
         <% unless params[:filter].nil? %>
          <li><%= link_to "Clear Filter", filter: nil %></li>
         <% end %>
       </ul>
      </div>

          <tbody>
            <% @bookmarks.each do |bookmark| %>
              <tr>
                <td><%= bookmark.id %></td>
                <td><%= link_to bookmark.title, bookmark_path(bookmark)%></td>
                <td><%= bookmark.url %></td>
                <td><%= bookmark.is_favorite %></td>
                <td><%= bookmark.category %></td>
                <td><%= bookmark.has_attribute?(:comment) %></td>
                <td>
                  <%= link_to 'Edit', edit_bookmark_path(bookmark), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', bookmark_path(bookmark), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>




      <div class = "container">
        <div class = "button-wrapper">
            <div class = "create-button">
              <button type="button" class="btn btn-default active btn-block">
               <%= link_to 'Create a new Bookmark',
                new_bookmark_path %>
              </button>
            </div>
        </div>
      </div>











<!-- <h2>
  <%= link_to 'Create a new Bookmark',
  new_bookmark_path %>
</h2>
<br> -->

<!-- <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8"></div>
  <div class="col-xs-6 col-md-4"> -->




<!--   </div>
</div> -->

<br>
<!-- <%= button_to 'Create a new Bookmark', new_bookmark_path, :class => 'btn btn-large btn-primary active'  %> -->





</style>
</html>

